*{padding:0px;
margin:0px;
}
header,section,nav,aside,footer{
display:block;}


#head{
width:1365px;
height:60px;
background-color:#DCDCDC;

}

#img1{

position:relative;

top:20px;
left:200px;
}
#unam{
position:absolute;
font-size:17px;
top:20px;
left:750px;


}
#em{
position:absolute;
font-size:12px;
top:5px;
left:750px;
font-weight:900;
}
#pass{
position:absolute;
font-size:17px;
top:20px;
left:930px;


}
#ps{
position:absolute;
font-size:12px;
top:5px;
left:930px;
font-weight:900;
}
#forg{
position:absolute;
font-size:12px;
top:5px;
left:1010px;
font-weight:900;
color:#778899;


}
#forg a:link {text-decoration:none;}
#forg a:visited {text-decoration:none;}
#forg a:hover {text-decoration:underline;}
#forg a:active {text-decoration:underline;
}#submit2 a:link {text-decoration:none;color:silver;}
#submit2 a:visited {text-decoration:none;color:silver;}
#submit2 a:hover {text-decoration:none;color:silver;}
#submit2 a:active {text-decoration:none;color:silver;
}
#submit{
position:absolute;

top:19px;
left:1130px;
font-weight:900;




}
#sec{

height:500px;
}
#button{


width:60px;
height:25px;
}
#central{


font-size:35px;

position:absolute;

top:100px;
left:300px;
font-weight:700;
}
#side{font-size:25px;

position:absolute;

top:150px;
left:800px;
font-weight:700;



}
#side1{font-size:25x;

position:absolute;

top:180px;
left:800px;
font-weight:1300;



}
#nam1{

font-size:25px;

position:absolute;

top:350px;
left:800px;
background-color:#FFFFCC;
}


#nam2{

font-size:25px;

position:absolute;

top:290px;
left:800px;

background-color:#FFFFCC;
}
#nam3{

font-size:25px;

position:absolute;

top:230px;
left:800px;

background-color:#FFFFCC;
}
#nam4{

font-size:25px;

position:absolute;

top:230px;
left:1060px;

background-color:#FFFFCC;
}
#button1{


font-size:25px;

position:absolute;

top:450px;
left:800px;
background-color:orange;
width:450px;
color:silver;
}
#submit2{


font-size:px;

position:absolute;

top:400px;
left:800px;
color:black;


}
#foot{


width:1365px;
height:100px;

background-color:#DCDCDC;

}
#frn{
position:absolute;

top:600px;
left:450px;

}
#nam5{
position:absolute;
font-size:20px;
top:600px;
left:570px;
color:silver;
}
#nam6{
position:absolute;
font-size:20px;
top:600px;
left:790px;
color:silver;
}
#face1{
position:absolute;
top:200px;
left:200px;

}
#face2{
position:absolute;
top:200px;
left:350px;

}
#face3{
position:absolute;
top:200px;
left:500px;

}
#face4{
position:absolute;
top:350px;
left:500px;

}
#face5{
position:absolute;
top:350px;
left:200px;

}
#face6{
position:absolute;
top:350px;
left:350px;

}